.banner{
    height: 100vh;
    background: url("../img/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    background-blend-mode: darken;
}
.container-pesquisa{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barraDePesquisa{
    width: 80vh;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.barraDePesquisa #jogo{
    width: 774px;
    height: 100%;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    padding-left: 5%;
    padding-right: 5%;
}
.clique{
    width: 300px;
    height: 100%;
}
.barraDePesquisa #pesquisar{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: red;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}
.barraDePesquisa #pesquisar a{
    text-decoration: none;
    color: beige;
    width: 300px;
    height: 100%;
}
button{
    font-size: 1.5rem;
}
.barraDePesquisa #pesquisar:hover  {
    background-color: black;
    transform: translateX(10%);
}

@media (max-width:720px){
    .barraDePesquisa{
        width: 50vh;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .barraDePesquisa #jogo{
        width: 80%;
        height: 15%;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        
    }
    .barraDePesquisa #pesquisar{
        width: 200px;
        height: 10%;
        border: none;
        border-radius: 10px;
        background-color: red;
        cursor: pointer;
        color: white;
        text-transform: uppercase;
        transition: all 1s ease-in-out;
        margin-left: 15%;
    }
    button{
        font-size: 1rem;
    }
}